.dark {
    color-scheme: dark;
}

.bg-neutral,
.bg-darker,
.bg-lighter {
    @apply print:!bg-transparent print:!text-base-800;
}

.bg-neutral {
    @apply bg-base-200 text-base-700 dark:bg-base-800 dark:text-base-400;
}

.bg-darker {
    @apply bg-base-300 dark:bg-base-900;
    @apply print:border-2 print:border-base-400;
}

.bg-lighter {
    @apply bg-base-100 dark:bg-base-700;
    @apply print:border-2 print:border-base-600;
}

.border-neutral,
.border-darker,
.border-lighter {
    @apply print:!border-transparent print:!text-base-800;
}

.border-neutral {
    @apply border-base-200 dark:border-base-800;
}
.border-darker {
    @apply border-base-300 dark:border-base-900;
}
.border-lighter {
    @apply border-base-100 dark:border-base-700;
}

@keyframes wait {
    from {
        transform: translateY(var(--fly-in-y));
        opacity: 0.5;
    }
    to {
        transform: translateY(var(--fly-in-y));
        opacity: 0.5;
    }
}

@keyframes flyIn {
    0% {
        transform: translateY(var(--fly-in-y));
        opacity: var(--fly-in-opacity, 0.5);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
