---
import HomeCard from "../components/HomeCard.astro";
import Prose from "../components/Prose.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div
        class="relative flex w-full flex-col items-center justify-center px-4 py-24 md:px-8 min-h-[calc(100svh-4rem-5rem)] print:min-h-fit"
    >
        <div
            class="flex flex-col gap-y-4 pb-4 sm:gap-y-5 sm:pb-5 md:gap-y-8 md:pb-8 font-mono text-4xl text-base-500 xs:text-5xl sm:text-6xl md:text-7xl lg:text-8xl"
        >
            <div
                class="before:content-['0'] before:mr-[1em] sm:before:mr-[1.5em] before:text-4xl before:sm:text-5xl before:md:text-6xl before:lg:text-7xl flex before:invisible"
            >
                <span
                    class="font-mono text-base-400 dark:text-base-600 text-base xs:text-xl sm:text-2xl md:text-3xl lg:text-4xl"
                    >// Curious Software Dev</span
                >
            </div>
            <div
                class="before:content-['1'] before:mr-[1em] sm:before:mr-[1.5em] before:text-4xl before:sm:text-5xl before:md:text-6xl before:lg:text-7xl before:text-base-400 before:dark:text-base-600"
            >
                <span>Niklas</span>
            </div>
            <div
                class="before:content-['2'] before:mr-[1em] sm:before:mr-[1.5em] before:text-4xl before:sm:text-5xl before:md:text-6xl before:lg:text-7xl before:text-base-800 before:dark:text-base-200"
            >
                <div
                    class="relative inline"
                    role="button"
                    tabindex="0"
                    aria-haspopup="menu"
                    aria-expanded="false"
                    aria-controls="spelling-error-menu"
                >
                    <span
                        class="decoration-2 xs:decoration-[2.5px] sm:decoration-[3px] md:decoration-[3.5px] lg:decoration-4 underline-offset-4 xs:underline-offset-[5px] sm:underline-offset-[6px] md:underline-offset-[7px] lg:underline-offset-8 underline decoration-wavy decoration-red pb-2"
                        >Burggraaff</span
                    >
                </div>
                <span class="absolute select-none text-base-800 dark:text-base-200 animate-blink"
                    >|</span
                >
            </div>
        </div>
    </div>

    <div class="px-6 xs:px-16 sm:px-32">
        <section class="mx-auto flex max-w-7xl flex-col xs:flex-row flex-wrap justify-center gap-8">
            <script>
                // Do not animate home cards after transition
                document.addEventListener("astro:after-swap", () => {
                    const homeCards = document.querySelectorAll(".home-card");

                    homeCards.forEach((card) => {
                        card.classList.remove("home-card");
                    });
                });
            </script>
            <HomeCard href="blog" title="Blog" description={"Please read my blog"} index={0}>
                <p>I write about things to learn and share this with other people!</p>
            </HomeCard>
            <HomeCard
                href="projects"
                title="Projects"
                description={"Check out projects I've worked on!"}
                index={1}
            >
                <p>Check out projects I've worked on</p>
            </HomeCard>
            <HomeCard href="cv" title="CV" description={"My career details"} index={2}>
                <p>If you are interested in my career</p>
            </HomeCard>
        </section>
    </div>

    <div class="py-4"></div>

    <Prose class="mx-auto px-8 py-16">
        <!-- https://github.com/bartoszjarocki/cv?tab=readme-ov-file -->
        <h2 class="!mt-0">About</h2>

        <p>Just some basic information about me</p>

        <h2>Lorem Ipsum</h2>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere a nisi asperiores
            corrupti, eius dolore itaque voluptatem ipsam reiciendis eveniet est cupiditate officia
            impedit laboriosam, numquam deleniti sunt esse velit?
        </p>
    </Prose>
</Layout>
