---
import { Icon } from "astro-icon/components";
import ModeToggle from "./ModeToggle.svelte";

const today = new Date();
---

<script>
    document.addEventListener("astro:before-swap", (ev) => {
        const theme: "light" | "dark" = document.documentElement.classList.contains("dark")
            ? "dark"
            : "light";

        if (theme === "light") {
            ev.newDocument.documentElement.classList.remove("dark");
        }
    });
</script>

<footer
    class:list={[
        "flex w-full items-center justify-center p-8 shadow-inner border-t-2 border-lighter",
        "z-20 print:shadow-none",
    ]}
>
    <div
        class:list={[
            "flex w-full max-w-6xl flex-wrap justify-between gap-x-16 gap-y-8",
            "sm:flex-row md:flex-nowrap lg:grid lg:grid-cols-[1fr,auto,1fr] print:lg:grid-cols-[1fr,1fr]",
        ]}
    >
        <div class="flex flex-grow flex-col gap-2 lg:justify-center">
            <div class="flex w-full items-center justify-between">
                <a href="/" class="font-mono text-4xl hover:text-primary hover:brightness-125">NB</a
                >
                <div class="block print:!hidden lg:hidden">
                    <ModeToggle client:idle />
                </div>
            </div>
            <p class="font-body">
                &copy; {today.getFullYear()} Niklas Burggraaff
            </p>
        </div>
        <div
            class:list={[
                "order-last flex flex-grow flex-wrap gap-4 font-body",
                "xs:col-span-2 xs:justify-center xs:gap-8 md:order-none md:col-span-1",
            ]}
        >
            <div class="flex-grow xs:text-right">
                <h2 class="pb-2 font-mono text-xl">Tools</h2>
                <p>
                    Developed with
                    <br />
                    <a
                        href="https://astro.build/"
                        target="_blank"
                        class="text-primary hover:underline hover:brightness-125"
                    >
                        Astro
                        <Icon
                            name="astro"
                            height={12}
                            width={12}
                            class="inline text-base-900 dark:text-base-100 print:!text-base-900"
                        />
                    </a>
                    and
                    <a
                        href="https://svelte.dev/"
                        target="_blank"
                        class="text-primary hover:underline hover:brightness-125"
                    >
                        Svelte
                        <Icon name="svelte" height={12} width={12} class="inline" />
                    </a>
                    <br />
                </p>
                <p>
                    Deployed on
                    <a
                        href="https://vercel.com/"
                        target="_blank"
                        class="text-primary hover:underline hover:brightness-125"
                    >
                        Vercel
                        <Icon
                            name="vercel"
                            height={12}
                            width={12}
                            class="inline text-base-900 dark:text-base-100 print:!text-base-900"
                        />
                    </a>
                </p>
            </div>
            <div class="flex-grow">
                <h2 class="pb-2 font-mono text-xl">Styling</h2>
                <p>
                    <a
                        href="https://github.com/nealmckee/penumbra/"
                        target="_blank"
                        class="text-primary hover:underline hover:brightness-125"
                    >
                        <span class="text-red">P</span><span class="text-orange">e</span><span
                            class="text-yellow">n</span
                        ><span class="text-green">u</span><span class="text-cyan">m</span><span
                            class="text-blue">b</span
                        ><span class="text-purple">r</span><span class="text-magenta">a</span>
                    </a>
                    color scheme
                </p>
                <p>
                    <a
                        href="https://www.jetbrains.com/lp/mono/"
                        target="_blank"
                        class="text-primary font-mono hover:underline hover:brightness-125"
                    >
                        JetBrains Mono
                    </a>
                    and
                    <br />
                    <a
                        href="https://brailleinstitute.org/freefont"
                        target="_blank"
                        class="text-primary font-body hover:underline hover:brightness-125"
                    >
                        Atkinson Hyperlegible
                    </a>
                    fonts
                </p>
            </div>
        </div>
        <div class="hidden items-start justify-end print:!hidden lg:flex">
            <ModeToggle client:idle />
        </div>
    </div>
</footer>
