---
import type { HTMLAttributes } from "astro/types";
import LucideIcon from "./LucideIcon.astro";
import type { IconNode } from "lucide";

type Props = HTMLAttributes<"a"> & {
    icon?: IconNode;
};

const { href, class: className, icon, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
    href={href}
    class:list={[
        "group flex items-center gap-1 xs:gap-2 h-full px-2 py-3 text-base-500 font-mono xs:px-4",
        "hover:brightness-125 focus:brightness-125",
        isActive ? "bg-neutral" : "",
        className,
    ]}
    {...props}
>
    {icon && <LucideIcon icon={icon} class="h-5 w-5" />}
    <slot />
</a>
