---
import type { HTMLAttributes } from "astro/types";
import type { IconNode } from "lucide";
import LucideIcon from "./LucideIcon.astro";

type Props = HTMLAttributes<"a"> & {
    icon: IconNode;
    text: string;
};

const { href, icon, text, class: className } = Astro.props;
---

<a
    href={href}
    target="_blank"
    class="block h-14 w-14 text-base-600 hover:scale-105 hover:!text-primary hover:brightness-125 dark:text-base-500"
>
    <div class="flex h-full w-full flex-col items-center justify-center">
        <LucideIcon icon={icon} class="h-6 w-6" />
        <p class="text-xs">{text}</p>
    </div>
</a>

<!-- 
            in:fly={{
                y: -25,
                duration: homeAnimationStateValue === "done" ? 0 : 250,
                delay:
                    homeAnimationStateValue === "done"
                        ? 0
                        : i * 50 + ($page.url.pathname === "/" ? 1680 : 0),
            }}
 -->
