---
import { FolderTree } from "lucide";
import Page from "../../layouts/Page.astro";
import StatusLine from "../../components/StatusLine.astro";
import BaseHead from "../../components/BaseHead.astro";
---

<BaseHead title="Projects | Niklas Burggraaff" description="Check out projects I've worked on" />
<Page title="Projects" subtitle="Check out projects I've worked on" slug="projects">
    <section>Content...</section>

    <StatusLine mode="command" section="Projects" sectionIcon={FolderTree} />
</Page>
