---
import { GraduationCap } from "lucide";
import Page from "../../layouts/Page.astro";
import StatusLine from "../../components/StatusLine.astro";
---

<Page title="CV" subtitle="If you are interested in my career" slug="cv">
    <section>Content...</section>

    <StatusLine mode="visual" section="CV" sectionIcon={GraduationCap} />
</Page>
