---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

type Props = {
    transitionAnimate?: "fade" | "slide" | "initial" | "none";
};

const transitionAnimate = Astro.props.transitionAnimate ?? "fade";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            html,
            body {
                @apply overscroll-none;
            }

            /* Avoid Chrome to see Safari hack */
            @supports (-webkit-touch-callout: none) {
                .min-h-screen {
                    /* The hack for Safari */
                    min-height: -webkit-fill-available;
                }
            }
        </style>
    </head>
    <body
        class="bg-neutral flex min-h-screen w-full min-w-fit flex-col"
        transition:animate={transitionAnimate}
    >
        <a
            class:list={[
                "fixed left-2 z-50 -translate-y-16 transition focus:translate-y-0",
                "rounded-b-md bg-primary px-4 py-1 text-base-100 shadow-xl",
                "print:hidden",
            ]}
            href="#main-content"
        >
            Skip to Content
        </a>
        <Header />
        <main id="main-content" class="flex-grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
